/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/

.icon {
  cursor: pointer;
}

.angular-bootstrap-pwgen-progress-div {
  position      : relative;
  width         : 100%;
  height        : 37px;
  top           : -37px;
  padding-right : 40px;
  z-index       : 3;
  opacity       : 0.5;
}

.angular-bootstrap-pwgen-progress-div.ng-hide {
  display : none;
}

.angular-bootstrap-pwgen-progress-bar {
  -webkit-transition : none;
  -moz-transition    : none;
  -ms-transition     : none;
  -o-transition      : none;
  transition         : none;
}

.progress-bar{
  background-color:#00CC00;
}
