<h2></h2>

    <div class = "input-group">
        <input class="form-control" [(ngModel)]="password" [value]="password" placeholder="Eingebnen oder generieren" name="password"/>
        <div class="input-group-append icon">
          <span class="input-group-text" (click)="generatePassword()"><i class="fas fa-cogs"></i></span>
        </div>      
    </div>
    
    <div class="progress angular-bootstrap-pwgen-progress-div" [hidden]="!progressDivShow">
      <div class="progress-bar angular-bootstrap-pwgen-progress-bar" [style.width.%]="progressWidth"></div>
    </div>
     
     

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->